.sec1 p{
    font-weight: normal;
    font-size: 14px;
    height: 30px;
}
.sec1 hr{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 0.5px solid #CBCBCB;
}
.sec1 .material-icons{
    float: right;
    cursor: pointer;
    color: black;
    background-color: #9D9A9A;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;   
}
.sec1 table{
    width: 100%;
    border: 2px solid black;
    height: auto;
    text-align: left;

}
.sec2{
    background-color:linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%) ;
    width: 50%;
}
.stat{
    text-align: center;
    padding: 10px;
    background-color: #68EC9D;
    border-radius: 40px;
    color: #19861C;
    max-width: 200px;
    display: block;
    width:150px;
    float:right;
}
td{
    padding: 10px;
    text-align: center;
}
.card1 .material-icons{
    background-color: #12B5A2;
}
.card2
{
    background-color: #D3A188;
}
.card2 .material-icons{
    color: #9D4444;
}
.dataTable {
    margin-top: -10px;
    margin-left: -20px;
    text-align: center;
}
.dashboard-sections {
    grid-template-columns: 66.5% 33.5%;;
}
.section .employee-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.section sec2{
    width: auto;
}