*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #b7c3d5;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.container{
    display:grid;
    grid-template-columns: 20% 80%;
    height: 100vh;
    grid-template-areas: "s m";
}
.side-bar{
    grid-area: s;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    overflow: auto;
}

.main-content{
    grid-area: m;
    padding: 20px;
}
.header-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}
.header p{
    font-size: 12px;
    opacity: 0.7;
    text-decoration: underline;
    font-style: italic;
}
.content-body{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    grid-template-areas: 
    "TE PP PA TD"
    "AN AN PH PH"
    "AT AT PH PH";
    margin: auto 25px;
}
.total-employee{
    grid-area: TE;
    background-color: #3498db;
    padding: 20px;
    border-radius: 10px;
    height: 100px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.payroll-proceeded{
    grid-area: PP;
    background-color: #2ecc71;
    padding: 20px;
    border-radius: 10px;
    height: 100px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.pending-pay{
    grid-area: PA;
    background-color: #e74c3c;
    padding: 20px;
    border-radius: 10px;
    color: white;
    height: 100px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.tax-and-deduction{
    grid-area: TD;
    background-color: #f1c40f;
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.announcements{
    grid-area: AN;
    background-color: #9b59b6;
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.payroll-history{
    grid-area: PH;
    background-color: #34495e;
    padding: 20px;
    border-radius: 10px;
    height: 500px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.atten{
    grid-area: AT;
    background-color: #1abc9c;
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-main input, button{
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.header-main input{
    width: 300px;

}
.header-main button{
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;

}
