.sec1 p{
    font-weight: normal;
    font-size: 14px;
    height: 30px;
}
.sec1 hr{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 0.5px solid #CBCBCB;
}

.sec1 .material-icons{
    float: right;
    cursor: pointer;
    color: black;
    background-color: #9D9A9A;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;   
}
.sec1 table{
    width: 100%;
    border: none;
    height: auto;

}
.sec2{
    background-color:linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%) ;
    width: 50%;
}
.stat{
    text-align: center;
    background-color: #68EC9D;
    color: #19861C;
    padding: 10px 24px;
    border-radius: 999px;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    min-width: 110px;
}
.card2 .material-icons{
    background-color: #B00F0F;
}
.card2{
    background-color: #D38888;
}   
.dashboard-sections {
    grid-template-columns: 66.5% 33.5%;;
}
.section .employee-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.section sec2{
    width: auto;
}
.dashboard-sections h2 ,p{
    margin: 10px;
    padding: 10px;
}
.dashboard-sections .material-icons{
    margin-right: 10px;
    margin-top: 10px;

}
.empay{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0 8px;
}
.empay th{
    text-align: center;
    padding: 10px 20px;
    font-weight: bold;
}
.empay td{
    padding: 10px 40px;
    text-align: center;
}
.empay .dapay{
    border-bottom:2px solid black;
    border-top: 2px solid black;
}
.card p{
    margin-top: -10px;
}